<div class="contenedor" *ngIf="bodyKit; else loading">
  <div class="card">
    <picture class="containerImage">
      <img [src]="bodyKit.image" alt="{{ bodyKit.name }}" class="image" />
    </picture>
    <div class="containerInfo">
      <h1 class="text-2xl font-bold">{{ bodyKit.name }}</h1>
      <h1>Price: {{ bodyKit.price | currency }}</h1>
      <button class="button" (click)="addToCart(bodyKit)">Add To Cart</button>
    </div>
  </div>
</div>

<ng-template #loading>
  <p class="text-lg font-semibold">Cargando información ...</p>
</ng-template>
