<div>
  <ng-container *ngIf="loading; else SHOW_CONTENT">
    <div class="flex flex-col items-center justify-center min-h-screen">
      <div
        class="w-20 h-20 border-8 border-gray-300 border-t-black rounded-full animate-spin"
      ></div>
      <p class="mt-4 text-lg font-semibold text-gray-700">Loading...</p>
    </div>
  </ng-container>

  <ng-template #SHOW_CONTENT>
    <div
      class="w-full h-full flex flex-wrap justify-center items-center gap-5 p-10"
    >
      <ng-template [ngTemplateOutlet]="CONTENT"></ng-template>
    </div>
  </ng-template>
</div>

<ng-template #CONTENT>
  <ng-container class="contenedor" *ngIf="bodyKit">
    <div class="card">
      <picture class="containerImage">
        <img [src]="bodyKit.image" alt="{{ bodyKit.name }}" class="image" />
      </picture>
      <div class="containerInfo">
        <h1 class="text-2xl font-bold">{{ bodyKit.name }}</h1>
        <h1>Price: {{ bodyKit.price | currency }}</h1>
        <button class="button" (click)="addToCart(bodyKit)">Add To Cart</button>
      </div>
    </div>
  </ng-container>
</ng-template>
