<footer class="footer">
  <div class="options-footer">
    <button class="buttons-footer" (click)="goToContactUs()">
      <img
        class="image-footer"
        src="../../../../assets/images/favicons/flag_icon.svg"
        alt="flag"
      />
      <div class="text-buttons">
        <span> <strong> Vehicle Servicing & bookings </strong> </span>
        <span> CALL +57 601 000 0000 </span>
      </div>
    </button>

    <button class="buttons-footer" (click)="goToPrePurchaseInspection()">
      <img
        class="image-footer"
        src="../../../../assets/images/favicons/search_icon.svg"
        alt="search"
      />
      <div class="text-buttons">
        <span> <strong> Pre-Purchase Inspections </strong> </span>
        <span> Let us inspect your current or future vehicle. </span>
      </div>
    </button>

    <button class="buttons-footer" (click)="goToCart()">
      <img
        class="image-footer"
        src="../../../../assets/images/favicons/plane_icon.svg"
        alt="plane"
      />
      <div class="text-buttons">
        <span> <strong> International Shipping </strong> </span>
        <span> We ship worldwide </span>
      </div>
    </button>
  </div>
  <div class="container-Footer">
    <div class="buttonsService">
      <span> <strong> Service </strong> </span>
      <button class="buttonsCopyright" (click)="goToLogin()">My Account</button>
      <button class="buttonsCopyright" (click)="goToContactUs()">
        Contact Us
      </button>
    </div>
    <div class="buttonsService">
      <span> <strong> About Us </strong> </span>
      <button class="buttonsCopyright" (click)="goToWe()">About Us</button>
    </div>
    <div class="buttonsService">
      <span> <strong> Information </strong> </span>
      <button class="buttonsCopyright" (click)="goToTermsAndConditions()">
        Privacy Policy
      </button>
    </div>
    <div class="buttonsService">
      <span> <strong> Stay In Touch </strong> </span>
      <input type="email" name="email" id="email" placeholder="Email Address" />
      <button class="buttonSubs">Subscribe</button>
      <div class="radioService">
        <input type="radio" name="radio" id="radio" />
        <span>
          I have read & agree to
          <strong>Terms & Conditions</strong>
          &
          <strong>Privacy Policy</strong>.
        </span>
      </div>
    </div>
  </div>
  <div class="contaier-copyright">
    <span class="Copyright">Copyright © 2025 Monster Tunng</span>
    <span class="Copyright">NIT: 601 000 000</span>
  </div>
</footer>
