<div class="container">
  <div class="videoContainer">
    <button class="prevButton" (click)="prevVideo()">◀</button>
    <iframe
      width="560"
      height="315"
      [src]="currentVideo"
      [frameBorder]="0"
      allow="autoplay; encrypted-media"
      allowfullscreen
    ></iframe>
    <button class="nextButton" (click)="nextVideo()">▶</button>
  </div>
  <div class="containerInfo">
    <span>
      Do you want to live the experience or participate in endurance races?
    </span>
    <span>We are located</span>
    <a
      href="https://www.google.com/maps/place/Cr.+A+Bogota,+La+Mesa,+Cundinamarca/@4.6453755,-74.4443691,17.25z/data=!4m6!3m5!1s0x8e3f6e7cbb238b89:0xcc2a973a68aac11a!8m2!3d4.6468214!4d-74.4457728!16s%2Fg%2F11bym_bsbg?entry=ttu&g_ep=EgoyMDI1MDMxMi4wIKXMDSoASAFQAw%3D%3D"
      target="_blank"
      rel="noopener noreferrer"
    >
      <button class="buttonsFoot">
        <img
          src="../../../../assets/images/favicons/localizacion_icon.png"
          alt="localizacion"
          title="Maps"
        />
      </button>
    </a>
    <span>
      To find out when the races will be, call or write to (+57 601 0000000)
    </span>
  </div>
</div>
