<header class="banner">
  <div class="slide">
    <img
      class="imageBanner"
      src="../../../../assets/images/baners/C7.jpg"
      alt="banner"
    />
  </div>

  <div class="titleBanner">
    <span class="text-white">Pre-Purchase Inspection</span>
  </div>
</header>
<main class="container">
  <div class="containerText">
    <span class="text-3xl"> <Strong> Pre-Purchase Inspection </Strong> </span>
    <p>
      Most vehicles are eligible for a pre-purchase inspection at Monster Tunng,
      here we're capable of carrying out tests on petrol-powered vehicles
      ensuring roadworthiness and an in-depth gauge of the overall condition
      from both a mechanical and visual standpoint. Here we'll determine whether
      the car you're about to purchase is as it is advertised as or claimed to
      be. That aside, a pre-purchase inspection isn't just for buyers, a PPI
      will give confidence and reassurance that may be lacking during any
      potential vehicle viewings.
    </p>
    <p>
      A PPI is simple at Monster Tunng, we give you two options depending on how
      "in-depth" the inspection will be, from there, we can determine what
      factors to inspect and if a compression or leak down test is required.
      Concluding our inspection, you'll receive a PDF document containing
      valuable information, in addition, photographs as evidence to assure our
      report statements. Be sure to liaise with your seller or buyer and us to
      ensure a hassle-free inspection booking.
    </p>
    <hr />
    <span class="text-3xl">
      <strong> Why a pre-purchase inspection? </strong>
    </span>
    <p>
      Are you buying a car? - Found the one? Sometimes it might not be what you
      think is. Let us alleviate the stress of purchasing a new or second-hand
      vehicle by providing an evaluation of all aspects depending on what level
      of inspection you choose. Using this, you can re-negotiate a deal and
      potentially avoid any unwanted consequences of purchasing a used vehicle
      blindly.
    </p>
    <p>
      Are you selling your car? - Ready to let go? Conducting a pre-purchase
      inspection, or should we say pre-selling inspection can assist in selling
      your car for the right price and price you want. With a positive
      evaluation, you are able to reassure potential buyers that the vehicle
      being inspected is in great condition and has been well looked after.
    </p>
    <hr />
    <span class="text-3xl">
      <strong> What does a pre-purchase inspection involve? </strong>
    </span>
    <span>
      A pre-purchase inspection will be dependant on the vehicle in question
      though usually including the following:
    </span>
    <ul>
      <li>
        Engine & Transmission (Including/excluding Engine Compression Test)
      </li>
      <li>⇝ Tires</li>
      <li>⇝ Wheels & Brakes</li>
      <li>⇝ Drivetrain</li>
      <li>⇝ Steering & Suspension</li>
      <li>⇝ Interior</li>
      <li>⇝ Electrical Components</li>
      <li>⇝ Undercarriage</li>
      <li>⇝ Exterior (Inc. prior accident identification and paint quality)</li>
    </ul>
    <span>
      The vehicle in question may be subject to road testing to check engine
      performance and all mechanical parts.
    </span>
    <hr />
    <span class="text-3xl">
      <strong> Benefits of a pre-purchase evaluation </strong>
    </span>
    <ul>
      <li>
        ⇝
        <strong> Identify potential and current problems: </strong> Potential
        problems are not obvious to the untrained eye. We will evaluate the
        vehicle in question and report any issues we may discover as well as any
        concerns that may arise in the future helping you decide whether the
        vehicle is worth purchasing or not.
      </li>
      <li>
        ⇝ <strong> Save money: </strong> Purchasing any vehicle with hidden or
        undisclosed issues will cost you hundreds if not thousands of dollars
        worth of repairs, knowing what you are purchasing prior to handing your
        money over will undoubtedly save you money.
      </li>
      <li>
        ⇝ <strong> Purchase/Sell with confidence: </strong> Purchasing used cars
        is risky when you don't know what to look out for, hidden defects are a
        common issue and we're here to help find them. A pre-purchase inspection
        will give you peace of mind that you are purchasing a vehicle in good
        condition for a good price in addition to providing your purchaser with
        the confidence needed as assurance.
      </li>
      <li>
        ⇝ <strong> Sell for more: </strong> A pre-purchase evaluation from us
        will give all potential buyers the transparency and confidence that they
        are purchasing a quality vehicle; even more so you will be in a better
        position when it comes down to negotiating the final sale price.
      </li>
    </ul>
    <hr />
    <span class="text-3xl"> <strong> Pricing </strong> </span>
    <span> <strong> $199.95 - Basic Pre-Purchase Inspection </strong> </span>
    <p>
      Our bare-bones pre-purchase inspection; our qualified mechanic will
      evaluate your vehicle top to bottom, inside and out. Involving an
      inspection of all body, interior and underbody, furthermore inspecting all
      mechanical components from the engine to suspension parts, concluding with
      a driving test and written evaluation.
    </p>
    <span>
      <strong> $299.95* - Comprehensive Pre-Purchase Inspection </strong>
    </span>
    <p>
      Our comprehensive check is our most complete PPI offering; here we'll be
      able to determine the quality of almost all aspects of the vehicle without
      tearing down the engine for a detailed inspection. You'll be provided with
      a detailed report stating the obvious and not-so-obvious, in addition,
      paint quality and prior damage assessment (if there is any) and a
      compression or leak-down test to determine engine health. This is our
      head-to-toe, inside and out inspection.
    </p>
    <span class="text-[#ff0000]">
      * Nissan GT-R (R35) will incur extra costs due to complexities and added
      time ($525.00 total)
    </span>
    <hr />
    <span class="text-3xl">
      <strong> Book in a pre-purchase inspection </strong>
    </span>
    <p>
      Book your pre-purchase inspection by contacting the Monster Tunng team at
      +57 601 000 0000, alternatively send us an email at
      juanmontoyabms&#64;gmail.com or via the contact us page found here.
    </p>
  </div>
</main>
