<div>
  <ng-container *ngIf="loading; else SHOW_CONTENT">
    <div class="flex flex-col items-center justify-center min-h-screen">
      <div
        class="w-20 h-20 border-8 border-gray-300 border-t-black rounded-full animate-spin"
      ></div>
      <p class="mt-4 text-lg font-semibold text-gray-700">Loading...</p>
    </div>
  </ng-container>

  <ng-template #SHOW_CONTENT>
    <div class="w-full h-full flex flex-wrap justify-center items-center gap-5">
      <ng-template [ngTemplateOutlet]="BANNER"></ng-template>
    </div>

    <div
      class="w-full h-full flex flex-wrap justify-center items-center gap-5 p-10"
    >
      <ng-template [ngTemplateOutlet]="CONTENT"></ng-template>
    </div>
  </ng-template>
</div>

<ng-template #BANNER>
  <ng-container>
    <header class="banner">
      <div class="slide">
        <img
          class="imageBanner"
          src="../../../../assets/images/baners/C10.jpg"
          alt="banner"
        />
      </div>

      <div class="titleBanner">
        <span class="text-white">Body Kits</span>
      </div>
    </header>
  </ng-container>
</ng-template>

<ng-template #CONTENT>
  <ng-container *ngFor="let item of bodyKits">
    <app-bodykit-card [bodyKit]="item"></app-bodykit-card>
  </ng-container>
</ng-template>
