<header class="banner">
  <div class="slide">
    <img
      class="imageBanner"
      src="../../../../assets/images/baners/monster_tunning_banner.jpg"
      alt="banner"
    />
  </div>

  <div class="titleBanner">
    <span class="text-white">About Us</span>
  </div>
</header>
<main class="container">
  <div class="containerTerms">
    <span>
      <strong>About Monster Tunng</strong>
    </span>
    <ol>
      <li>
        <p>
          <strong>Monster Tunng</strong> was born in Medellín, Colombia, in
          2015, when a group of enthusiasts passionate about the world of
          motorsports and tuning decided to turn their passion into a business.
          It all began in a small workshop where vehicles were modified for
          quarter-mile competitions and custom car shows.
        </p>
      </li>
      <li>
        <p>
          Founder <strong>Juan Esteban Montoya</strong>, a mechanic and
          automotive designer with over 10 years of experience, noticed that
          there weren't enough options in Colombia for those who wanted to
          transform their cars into true high-performance machines with unique
          style. Together with his team, he began importing exclusive parts and
          designing custom kits that quickly gained recognition in the country's
          tuning community.
        </p>
      </li>
      <li>
        <p>
          Thanks to customer support and the quality of its products,
          <strong>Monster Tunng</strong> grew rapidly, transforming from a small
          workshop into a store specializing in the sale of modified cars,
          accessories, and tuning parts. Today, the brand has established itself
          as a leader in the sector, offering high-end products and
          customization services that take tuning in Colombia to the next level.
        </p>
      </li>
      <li>
        <p>
          With our motto <strong>"Turn your car into a beast,"</strong>, we
          welcome you to <strong>Monster Tunng</strong>, where the passion for
          tuning never stops.
        </p>
      </li>
    </ol>
    <footer class="footer">
      <span> Contact us </span>
      <div class="footer-container">
        <a
          href="https://github.com/Montoyax28"
          target="_blank"
          rel="noopener noreferrer"
        >
          <button class="buttonsFoot">
            <img
              src="../../../../assets/images/favicons/github_icon.png"
              alt="github"
              title="Github"
            />
          </button>
        </a>
        <a
          href="https://co.linkedin.com/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <button class="buttonsFoot">
            <img
              src="../../../../assets/images/favicons/linkedin_icon.png"
              alt="linkedin"
              title="Linkedin"
            />
          </button>
        </a>
        <a
          href="mailto:juanmontoyabms@gmail.com?subject=Consulta&body=Hola, quisiera más información."
          target="_blank"
          rel="noopener noreferrer"
        >
          <button class="buttonsFoot">
            <img
              src="../../../../assets/images/favicons/gmail_icon.png"
              alt="gmail"
              title="Gmail"
            />
          </button>
        </a>
        <a
          href="https://www.google.com/maps/place/Centro+Comercial+Tit%C3%A1n+Plaza/@4.6939772,-74.1062822,14.75z/data=!3m1!5s0x8e40762e24cd35e7:0x973d58705bcf533!4m15!1m8!3m7!1s0x8e3f9c0c80ebaaab:0x8d3966a51451cd4a!2zQXYuIEJveWFjw6EgIzgwLTk0LCBLZW5uZWR5LCBCb2dvdMOh!3b1!8m2!3d4.6456032!4d-74.1301377!16s%2Fg%2F11sjzw2604!3m5!1s0x8e3f9b25144634c9:0xaa39a3ad6b78b4cb!8m2!3d4.694708!4d-74.086188!16s%2Fg%2F155qz9xp?hl=es&entry=ttu&g_ep=EgoyMDI1MDMwNC4wIKXMDSoASAFQAw%3D%3D"
          target="_blank"
          rel="noopener noreferrer"
        >
          <button class="buttonsFoot">
            <img
              src="../../../../assets/images/favicons/localizacion_icon.png"
              alt="localizacion"
              title="Maps"
            />
          </button>
        </a>
        <a
          href="https://wa.me/6010000000?text=Hola,%20quiero%20más%20información"
          target="_blank"
          rel="noopener noreferrer"
        >
          <button class="buttonsFoot">
            <img
              src="../../../../assets/images/favicons/whatsapp_icon.png"
              alt="whatsapp"
              title="Whatsapp"
            />
          </button>
        </a>
      </div>
    </footer>
  </div>
</main>
